[submodule "cpqusolver"]
	path = cpqusolver
	url = git@github.com:makskliczkowski/cpqusolver.git
[submodule "pyqusolver"]
	path = pyqusolver
	url = https://github.com/makskliczkowski/pyqusolver
[submodule "juqusolver"]
	path = juqusolver
	url = git@github.com:makskliczkowski/juqusolver.git
