[submodule "cpp/library/source"]
	path = cpp/library/source
	url = https://github.com/makskliczkowski/general_cpp
[submodule "pyqusolver"]
	path = pyqusolver
	url = https://github.com/makskliczkowski/pyqusolver
